* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* import google fonts */

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* Colors */

:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
    /* Font Family */
    --ff-kumbh-sans: 'Kumbh Sans', sans-serif;
}

body {
    background-color: var(--dark-cyan);
    background-image: url(/images/bg-pattern-top.svg), url(/images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: right 52vw bottom 35vh, left 48vw top 52vh;
    background-size: cover;
    min-height: 100dvh;
    width: 100%;
    display: grid;
    place-content: center;
    font-family: var(--ff-kumbh-sans);
    line-height: 1.24;
}

.container {
    width: 355px;
    height: 376px;
    border-radius: 5%;
    overflow: hidden;
    background-color: #ffff;
}

.hero img {
    width: 100%;
}

.avatar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -32px;
    margin-bottom: 6px;
    border-radius: 100%;
    border: 5px solid #ffff;
}

h2 {
    font-family: var(--ff-kumbh-sans);
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.age {
    color: var(--dark-gray);
    font-weight: 400;
    margin-left: 5px;
}

h5 {
    text-align: center;
    margin: 12px 0px 12px 0px;
    color: var(--dark-gray);
    font-size: 12px;
}

hr {
    border:  1px solid hsl(0, 10%, 96%);
}

.social-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    margin: 0px 32px 0px 28px;
    text-align: center;
    font-weight: 700;
}

.sub-data {
    color: var(--dark-gray);
    font-family: var(--ff-kumbh-sans);
    font-weight: 400;
    font-size: 10px;
    margin-top: 8px;
}